altair==4.2.0
appdirs==1.4.4
apptools==5.2.0
asgiref==3.6.0
attrs==22.2.0
beautifulsoup4==4.11.1
blinker==1.5
blis==0.7.9
bs4==0.0.1
bz2file==0.98
cachetools==5.2.1
catalogue==2.0.8
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
confection==0.0.4
configobj==5.0.8
constants==0.6.0
contourpy==1.0.6
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
dacite==1.8.1
decorator==5.1.1
distlib==0.3.6
Django==4.1.7
docopt==0.6.2
docx2txt==0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
entrypoints==0.4
envisage==7.0.3
fake-useragent==1.1.3
filelock==3.11.0
Flask==2.2.3
fonttools==4.38.0
gitdb==4.0.10
GitPython==3.1.30
htmlmin==0.1.12
hydralit-components==1.0.10
idna==3.4
ImageHash==4.3.1
importlib==1.0.4
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.1
jsonschema==4.17.3
kiwisolver==1.4.4
langcodes==3.3.0
lxml==4.9.2
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.2
mayavi==4.8.1
mdurl==0.1.2
missingno==0.5.2
multimethod==1.9.1
murmurhash==1.0.9
networkx==3.1
nltk==3.8.1
numpy==1.23.5
packaging==22.0
pandas==1.5.2
pandas-profiling==3.2.0
parse==1.19.0
pathy==0.10.1
patsy==0.5.3
phik==0.12.3
Pillow==9.3.0
pipreqs==0.4.11
platformdirs==3.2.0
Plost==0.2.5
plotly==5.13.0
preshed==3.0.8
protobuf==3.20.3
pyarrow==10.0.1
pydantic==1.10.9
pydeck==0.8.0
pyee==8.2.2
pyface==8.0.0
Pygments==2.14.0
Pympler==1.0.1
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==2.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
regex==2023.6.3
requests==2.28.1
requests-html==0.10.0
rich==13.2.0
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
semver==2.13.0
six==1.16.0
sklearn==0.0.post5
smart-open==6.3.0
smmap==5.0.0
soupsieve==2.3.2.post1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.3
srsly==2.4.6
statsmodels==0.13.5
streamlit==1.23.1
streamlit-option-menu==0.3.2
streamlit-pandas-profiling==0.1.3
streamlit-tags==1.2.8
tangled-up-in-unicode==0.2.0
tenacity==8.1.0
thinc==8.1.10
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.65.0
traits==6.4.1
traitsui==7.4.3
typeguard==2.13.3
typer==0.7.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
validators==0.20.0
virtualenv==20.21.0
visions==0.7.4
vtk==9.2.6
w3lib==2.1.1
wasabi==1.1.2
watchdog==2.2.1
websockets==10.4
Werkzeug==2.2.3
wordcloud==1.9.2
yarg==0.1.9
ydata-profiling==4.2.0
zipp==3.11.0
